
@model List<Model>

<table class="table">
    @* TODO: Group using Data Table*@
    <tr>
        <td>Id</td>
        <td>Version</td>
        <td>Name</td>
    </tr>
    @foreach (var model in Model)
    {
        <tr>
            <td>@(model.Id)</td>
            <td>@(model.Version)</td>
            <td>@(model.Name)</td>
            @* TODO: Model Edit, Set State and Instantiate Button *@
        </tr>
    }
</table>
